:root {
  --primary-text-collor: #212121;
  --secondary-text-collor: #757575;
  --white-text-collor: #ffffff;
  --accent-text-collor: #2196f3;
  --sec-bgc-color: #f5f4fa;
  --black-text-collor: #000000;
  --accent-btn-collor: #188ce8;
  --conteiner-bgc-collor: #eeeeee;
  --footer-bgc-collor: #2f303a;
  --high-line-collor: #ececec;
}

body {
  background-color: var(--white-text-collor);
  color: var(--primary-text-collor);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* основний колір тексту     #212121
  другорядний колір тексту     #757575
  білий колір                  #FFFFFF
  активний колір               #2196F3
  активний колір2              #188ce8;
  другий колір фону            #2F303A 
  третій колір фону            #F5F4FA
  
  
  
  */

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------------------Шапка------------------------------------------------ */

.header-contact {
  list-style: none;
}

.header-contact a {
  color: var(--secondary-text-collor);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-contact a:hover,
.header-contact a:focus {
  color: var(--accent-text-collor);
}

/* ------------------------------------------------Лого------------------------------------------------ */
.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  color: #2196f3;
}

.logo:hover,
.logo:focus {
  color: var(--accent-text-collor);
}

.wht {
  color: var(--white-text-collor);
}

.blck {
  color: var(--black-text-collor);
}

/* ------------------------------------------------Навігація-сайту------------------------------------------------ */


.site-nav .link {
  color: var(--primary-text-collor);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-collor);
}

.site-nav .link.current {
  color: var(--accent-text-collor);
}

/* ------------------------------------------------Підвал-сайту------------------------------------------------ */

.footer {
  background-color: #2f303a;
}

.footer-list a {
  color: var(--secondary-text-collor);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
}

.footer-list a:hover,
.footer-list a:focus {
  color: var(--white-text-collor);
}

.footer-adress a {
  color: var(--white-text-collor);
}

.footer-adress a:hover,
.footer-adress a:focus {
  color: var(--secondary-text-collor);
}

.footer-contact a:hover,
.footer-contact a:focus {
  color: var(--white-text-collor);
}

/* ------------------------------------------------Секція------------------------------------------------ */

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  letter-spacing: 0.03em;
  color: var(--primary-text-collor);
}

/* ------------------------------------------------Кнопки------------------------------------------------ */

.btn-hero {
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-collor);
  background: var(--accent-text-collor);
}

.btn-hero:hover,
.btn-hero:focus {
  color: var(--white-text-collor);
  background-color: var(--accent-btn-collor);
}

.btn-portfolio {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-collor);
}

.secondary {
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-text-collor);
  background: var(--sec-bgc-color);
  border-radius: 4px;
}

.btn-portfolio .secondary:hover,
.btn-portfolio .secondary:focus {
  cursor: pointer;
  color: var(--white-text-collor);
  background: var(--accent-btn-collor);
}

.secondary.current {
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
}

/* .btn.primary 
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

/* .btn.secondary
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */

/* --------------------------------------------------------------------------------------
-------------------------------------------------#Студія#--------------------------------
----------------------------------------------------------------------------------------- */

/* ------------------------------------------------Герой------------------------------------------------ */

.hero {
  background-color: var(--footer-bgc-collor);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-collor);
}

/* ------------------------------------------------Переваги------------------------------------------------ */

.feat-list .title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.feat-list .text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* --------------------------------------------Чим-займаємося-------------------------------------------- */

.prod-list .title {
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--primary-text-collor);
}

.prod-list .text {
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* ------------------------------------------------Команда------------------------------------------------ */

.team {
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  color: var(--title-text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* ----------------------------------------------------------------------------------------
--------------------------------------------------#Портфоліо#------------------------------
------------------------------------------------------------------------------------------- */
