html {
  box-sizing: border-box;
}

:root {
  --primary-text-collor: #212121;
  --secondary-text-collor: #757575;
  --white-text-collor: #ffffff;
  --accent-text-collor: #2196f3;
  --sec-bgc-color: #f5f4fa;
  --black-text-collor: #000000;
  --accent-btn-collor: #188ce8;
  --conteiner-bgc-collor: #eeeeee;
  --footer-bgc-collor: #2f303a;
  --high-line-collor: #ececec;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--white-text-collor);
  color: var(--primary-text-collor);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* основний колір тексту     #212121
  другорядний колір тексту     #757575
  білий колір                  #FFFFFF
  активний колір               #2196F3
  активний колір2              #188ce8;
  другий колір фону            #2F303A 
  третій колір фону            #F5F4FA
  
  
  
  */

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------------------------------------------Шапка------------------------------------------------ */

.header-container {
  display: flex;
  align-items: center;
  /* margin-left: 215px;
  margin-right: 215px; */
}

.header-contact {
  margin-left: 344px;
}

.header-contact-item:last-child {
  padding-left: 50px;
}

.header-contact-list {
  list-style: none;
  margin-left: auto;
  display: flex;
}

.header-contact-list a {
  color: var(--secondary-text-collor);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-contact-list a:hover,
.header-contact-list a:focus {
  color: var(--accent-text-collor);
}

/* ------------------------------------------------Лого------------------------------------------------ */
.logo {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;

  text-decoration: none;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  color: #2196f3;
}

.logo:hover,
.logo:focus {
  color: var(--accent-text-collor);
}

.wht {
  color: var(--white-text-collor);
}

.blck {
  color: var(--black-text-collor);
}

/* ------------------------------------------------Навігація-сайту------------------------------------------------ */

.site-nav-conteiner {
  display: inline-block;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--primary-text-collor);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-collor);
}

.site-nav .link.current {
  color: var(--accent-text-collor);
}

/* ------------------------------------------------Підвал-сайту------------------------------------------------ */

.footer {
  background-color: var(--footer-bgc-collor);
}

.footer-container {
  margin-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list a {
  color: var(--secondary-text-collor);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
}

.footer-list a:hover,
.footer-list a:focus {
  color: var(--white-text-collor);
}

.footer-adress a {
  color: var(--white-text-collor);
}

.footer-adress a:hover,
.footer-adress a:focus {
  color: var(--secondary-text-collor);
}

.footer-contact a:hover,
.footer-contact a:focus {
  color: var(--white-text-collor);
}

/* ------------------------------------------------Секція------------------------------------------------ */

.section-title,
.team-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  letter-spacing: 0.03em;
  color: var(--primary-text-collor);
}

/* ------------------------------------------------Кнопки------------------------------------------------ */

.btn-hero {
  margin: 30px 692px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-collor);
  background: var(--accent-text-collor);

  border-radius: 4px;
  min-width: 216px;
  height: 50px;
}

.btn-hero:hover,
.btn-hero:focus {
  color: var(--white-text-collor);
  background-color: var(--accent-btn-collor);
}

.btn-portfolio-conteiner {
  display: flex;
  justify-content: center;
}

.btn-portfolio {
  padding-bottom: 50px;

  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-collor);
}

.btn-portfolio li {
  margin-left: 8px;
}

.secondary {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-text-collor);
  background: var(--sec-bgc-color);
  border-radius: 4px;
}

.btn-portfolio .secondary:hover,
.btn-portfolio .secondary:focus {
  cursor: pointer;
  color: var(--white-text-collor);
  background: var(--accent-btn-collor);
}

.secondary.current {
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
}

/* .btn.primary 
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

/* .btn.secondary
  color: var(--white-text-collor);
  background: var(--accent-text-collor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */

/* --------------------------------------------------------------------------------------
-------------------------------------------------#Студія#--------------------------------
----------------------------------------------------------------------------------------- */

/* ------------------------------------------------Герой------------------------------------------------ */

.hero {
  background-color: var(--footer-bgc-collor);
}

.hero-container {
  display: inline-block;
  max-width: 1600px;
  height: 600px;
}

.hero-title {
  margin: 200px 452px 0 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-collor);
}

/* ------------------------------------------------Переваги------------------------------------------------ */
.features {
  display: flex;
  margin-left: 215px;
}

.feat-list {
  margin-top: 94px;
  max-width: 1200px;
  display: flex;
}

.feat-list-item {
  display: inline-block;
}

.feat-list-item:not(:first-child) {
  margin-left: 30px;
}

.feat-list-item p {
  margin-top: 10px;
}

.feat-list .title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.feat-list .text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* --------------------------------------------Чим-займаємося-------------------------------------------- */
.production-container {
  max-width: 1200px;
  margin: 94px auto;
  margin-left: 215px;
}

.prod-list-container {
  margin: 50px auto;
}

.prod-list {
  display: flex;
}

.prod-list li {
  display: inline-block;
  position: relative;
}

.prod-list-item:not(:first-child) {
  margin-left: 30px;
}

.prod-list .title {
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--primary-text-collor);
}

.prod-list .text {
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* ------------------------------------------------Команда------------------------------------------------ */
.team-container {
  background-color: var(--sec-bgc-color);
}

.team-list-container {
  max-width: 1600px;
  height: 648px;
}

.team-section-title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.team {
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  margin: auto 215px;
}

.team-list li {
  background-color: white;
}

.team-list-item {
  align-items: center;
}

.team-list-item:not(:first-child) {
  margin-left: 30px;
}

.team-list-element {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.team-list-element h3 {
  margin-bottom: 10px;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  color: var(--title-text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

/* ----------------------------------------------------------------------------------------
--------------------------------------------------#Портфоліо#------------------------------
------------------------------------------------------------------------------------------- */

.portfolio-container {
  margin: 94px auto;
  max-width: 1200px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--primary-text-collor);
}

.portfolio-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: var(--secondary-text-collor);
}

.portfolio-item {
  border: 1px solid #eeeeee;
}

.portfolio-element {
  padding: 20px 24px;
}
